<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/policy/banner.css">
  <link rel="stylesheet" href="/css/home/layout.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>

<body>
    <div id='rectanglel4' class='rectanglel4'></div>
    <div id='rectangleb4' class='rectangleb4'></div>
    <%- include('../layout.ejs') %>
<section>
    <div class="pagename">배너 정보</div>
    <table id="banner_table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <!-- <th>이미지</th> -->
                <th>링크</th>
                <th>등록일</th>
                <th>수정일</th>
                <!-- <th>수정</th> -->
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<banner.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= banner[i].banner_name %></td>
                    <!-- <td><img src="<%= banner[i].img %>" alt="1"></td> -->
                    <td><%= banner[i].banner_link %></td>
                    <td><%= `${banner[i].ins_date.getFullYear()}` + `-`+ `${banner[i].ins_date.getMonth()+1}` + `-`+ `${banner[i].ins_date.getDate()}`%></td>
                    <td><%= `${banner[i].upd_date.getFullYear()}` + `-`+ `${banner[i].upd_date.getMonth()+1}` + `-`+ `${banner[i].upd_date.getDate()}`%></td>
                    <!-- <td><a href="/admin/policy/banner/<%= banner[i].id %>/edit">수정</a></td> -->
                    <td><a href="/admin/policy/banner/delete/<%= banner[i].board_idx %>" onclick="return delBan()">삭제</a></td>
                    <script>
                      function delBan(){
                        if(confirm("정말 삭제하시겠습니까?")){
                          return true;
                        }else{
                          return false;
                        }
                      }
                    </script>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br><br>
    <div class="pagename">배너 등록</div>
    <form action="/admin/policy/banner" method="post" enctype="multipart/form-data">
        <div class="ui form">
            <div class="inline fields">
              <label>제목</label>
              <div class="four wide field">
                <input type="text" name="name" id="banner_id" placeholder="제목을 입력하세요">
              </div>
              <label>링크</label>
              <div class="four wide field">
                <input type="text" name="link" id="banner_link" placeholder="링크를 입력하세요">
              </div>
            </div>
        </div>
        <div class="ui form">
            <div class="inline fields">
                <label>사진</label>
                <div class="four wide field">
                    <input type="file" name="imgFile" id="banner_imgFile">
                </div>
            </div>
        </div>
        <button class="ui button" type="submit" onclick="return btn()">등록</button>
        <script>
            function btn() {
                if(confirm("등록하시겠습니까?")) {
                    if(document.getElementById("banner_id").value == "") {
                        alert("제목을 입력해주세요.");
                        return false;
                    }
                    if(document.getElementById("banner_imgFile").value == "") {
                        alert("이미지를 등록해주세요.");
                        return false;
                    }
                    if(document.getElementById("banner_link").value == "") {
                        alert("링크를 입력해주세요.");
                        return false;
                    }
                    return true;
                } else {
                    alert("취소되었습니다.");
                    return false;
                }
            }
        </script>
    </form>
</section>
</body>
</html>