<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <link rel="stylesheet" href="/css/home/admin.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> -->
  <script src="/js/home/policy-upload.js" defer></script>
</head>
<body>
  <div id='rectanglel3' class='rectanglel3'></div>
  <div id='rectangleb3' class='rectangleb3'></div>
  <%- include('../layout.ejs') %>
<section>
  <div class="pagename">정책 수정</div>
  <div>
    <form action="/admin/policy/update/<%=post.board_idx %>" method="post" enctype="multipart/form-data">
      <div class="ui form">
        <div class="inline fields">
          <label>정책 이름</label>
          <div class="four wide field">
            <input type="text" name="name" id="policy_name" value="<%= post.policy_name %>">
          </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 설명</label>
          <div class="four wide field">
            <input type="text" name="description" id="policy_description" value="<%= post.description %>">
          </div>
          <label>지원금</label>
          <div class="four wide field">
            <input type="text" name="fund" id="fund" value="<%= post.fund %>">
          </div>
        </div>
      </div>
      <br>

      <div class="ui form">
        <div class="inline fields">
          <label>정책 대상</label>
          <div class="four wide field">
              <select class="ui fluid dropdown" name="target" id="target">
                <%for(var i=0; i<code_data.policy_target_code.length; i++){%>
                  <option value="<%=code_data.policy_target_code[i].code_detail%>"><%=code_data.policy_target_code[i].code_detail_name%></option>
                <%}%>
              </select>
          </div>
          <label>주관 기관</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_institution_code" id="policy_institution_code">
              <%for(var i=0; i<code_data.policy_institution_code.length; i++){%>
                <option value="<%=code_data.policy_institution_code[i].code_detail%>"><%=code_data.policy_institution_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>접수 시작</label>
          <div class="four wide field">
            <input type="date" name="application_start_date" id="policy_application_start_date">
          </div>
          <label>접수 마감</label>
          <div class="four wide field">
            <input type="date" name="application_end_date" id="policy_application_end_date">
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 분야</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_field_code" id="policy_field_code">
              <%for(var i=0; i<code_data.policy_field_code.length; i++){%>
                <option value="<%=code_data.policy_field_code[i].code_detail%>"><%=code_data.policy_field_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
          <label>정책 성격</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_character_code" id="policy_character_code">
              <%for(var i=0; i<code_data.policy_character_code.length; i++){%>
                <option value="<%=code_data.policy_character_code[i].code_detail%>"><%=code_data.policy_character_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 사진</label>
          <div class="nine wide field">
            <input type="file" name="imgFile" id="policy_imgFile" accept="image/*">
          </div>
        </div>

      </div>
      <div class="ui form">
          <textarea name="content" id="editor"></textarea>
          <script>
            // 3. CKEditor5를 생성할 textarea 지정
            ClassicEditor
                .create( document.querySelector( '#editor' ), {
                  language: "ko",
                  simpleUpload: {
                    uploadUrl: '/upload/image',
                    withCredentials: true,
                  }
                } )
                .catch( error => {
                    console.error( error );
                } );
            </script>
        </div>
      <br>
        <!-- <div class="field">
          <label>정책 파일</label>
          <input type="file" name="file">
        </div> -->
        <div>
          <button class="ui button" type="submit" onclick="return btn()">등록</button>
          <script>
            function btn(){
                if (!confirm("정책 등록 하시겠습니까??")) {
                    alert("취소 하였습니다.");
                    return false;
                } else {
                  if(document.getElementById("policy_name").value == ""){
                    alert("이름을 입력해주세요.");
                    // 마우스를 name에 놓는다.
                    document.getElementById("policy_name").focus();
                    return false;
                  }
                  if(document.getElementById("policy_description").value == ""){
                    alert("정책 설명을 입력해주세요.");
                    document.getElementById("policy_description").focus();
                    return false;
                  }
                  if(document.getElementById("fund").value == ""){
                    alert("지원금을 입력해주세요.");
                    document.getElementById("fund").focus();
                    return false;
                  }
                  // 지원금이 숫자가 아니면
                  if(isNaN(document.getElementById("fund").value)){
                    alert("지원금은 숫자만 입력해주세요.");
                    document.getElementById("fund").focus();
                    return false;
                  }
                  if(document.getElementById("policy_imgFile").value == ""){
                    alert("정책 사진을 등록해주세요.");
                    document.getElementById("policy_imgFile").focus();
                    return false;
                  }
                  if(document.getElementById("policy_application_start_date").value == ""){
                    alert("접수 시작일을 입력해주세요.");
                    document.getElementById("policy_application_start_date").focus();
                    return false;
                  }
                  if(document.getElementById("policy_application_end_date").value == ""){
                    alert("접수 마감일을 입력해주세요.");
                    document.getElementById("policy_application_end_date").focus();
                    return false;
                  }
                  alert("등록되었습니다.");
                  return true;
              }
            }
          </script>
          
          <button class="ui button" type="button" onclick="return cancel()">취소</button>
          <script>
            function cancel() {
                if (!confirm("취소 하시겠습니까??")) {
                    return false;
                } else {
                  alert("취소 하였습니다.");
                  location.href='/admin/policy/show';
                }
            }
          </script>
          <!-- <button class="ui button" type="reset">취소</button> -->
        </div>
      </div>
    </form>
  </div>
</section>
</body>
</html>