<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <link rel="stylesheet" href="/css/home/admin.css">
  <!-- <link rel="stylesheet" href="/css/home/policyShow.css"> -->
  <script src="/ckeditor/build/ckeditor.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> -->
  <script src="/js/home/policyShow.js" defer></script>
</head>
<body>
  <%- include('../layout.ejs') %>
<section>
    <div>
        <div class="pagename">정책 정보 관리</div>
        <table id="policy_table">
            <thead>
                <tr>
                    <th>정책 번호</th>
                    <th>정책 이름</th>
                    <th>정책 내용</th>
                    <th>정책 대상</th>
                    <th>접수 기간</th>
                    <th>정책 수정</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<posts.length; i++){ %>
              <!-- <form action="/admin/policy/update/<%=posts[i].userid %>" method="get" > -->
              <tr>
                <td><%= posts[i].board_idx %></td>
                <td><%= posts[i].policy_name %></td>
                <td><%= posts[i].description %></td>
                <td><%= posts[i].policy_target %></td>
                <td><%= `${posts[i].application_date.getFullYear()}` + `-`+ `${posts[i].application_date.getMonth()+1}` + `-`+ `${posts[i].application_date.getDate()}`%></td>
                <td>
                  <button class="ui button" type="submit">수정</button>
                </td>
              </tr>
            <!-- </form> -->
            <% } %>
            </tbody>
        </table>
    </div>
    <div id="managep_foot">

        <!-- <div class="ui pagination menu" id="managep_paging">
            <a class="icon item">
                <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
                <i class="right chevron icon"></i>
        </a>
      </div> -->
      <div id="reg_btn_set">
        <button class="ui button" id="add_user" onclick="upload()">정책 등록</button>
        <!-- <button class="ui button" id="add_users" onclick="regiAll()">일괄 등록</button> -->
      </div>
    </div>  
</section>