<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/css/home/layout.css">
  <link rel="stylesheet" href="/css/home/policy/upload.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>
<body>
  <%- include('../layout.ejs', { pageTitle: '정책 등록' }) %>
<section>
  <div>
    <form action="/admin/policy/upload" method="post" enctype="multipart/form-data">
      <div class="form-row">
        <div class="label-field">정책 이름</div>
        <div class="input-field">
          <div class="input-container">
            <input type="text" name="name" id="name" placeholder="정책 이름">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">지원금</div>
        <div class="input-field">
          <div class="input-container">
            <input type="text" name="min_fund" id="min_fund" placeholder="최소 금액">
          </div>
          <label>~</label>
          <div class="input-container">
            <input type="text" name="max_fund" id="max_fund" placeholder="최대 금액">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">정책 대상</div>
        <div class="input-field">
          <div class="dropdown-container">
            <select class="ui fluid dropdown" name="target" id="target">
              <%for(var i=0; i<code_data.policy_target_code.length; i++){%>
                <option value="<%=code_data.policy_target_code[i].code_detail%>"><%=code_data.policy_target_code[i].code_detail_name%></option>
              <%}%>
            </select>
            <div class="dropdown-icon-container"> <!-- Add a container around the icon -->
              <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8123 1.91394L5.73399 5.99225C5.48372 6.24251 5.07796 6.24251 4.8277 5.99225L0.749389 1.91394C0.499124 1.66367 0.499124 1.25791 0.749389 1.00764C0.999655 0.75738 1.40542 0.75738 1.65568 1.00765L5.28084 4.63281L8.90601 1.00765C9.15628 0.75738 9.56204 0.75738 9.8123 1.00765C10.0626 1.25791 10.0626 1.66367 9.8123 1.91394Z" fill="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">주관 기관</div>
        <div class="input-field">
          <div class="dropdown-container">
            <select class="ui fluid dropdown" name="policy_institution_code" id="policy_institution_code">
              <%for(var i=0; i<code_data.policy_institution_code.length; i++){%>
                <option value="<%=code_data.policy_institution_code[i].code_detail%>"><%=code_data.policy_institution_code[i].code_detail_name%></option>
              <%}%>
            </select>
            <div class="dropdown-icon-container"> <!-- Add a container around the icon -->
              <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8123 1.91394L5.73399 5.99225C5.48372 6.24251 5.07796 6.24251 4.8277 5.99225L0.749389 1.91394C0.499124 1.66367 0.499124 1.25791 0.749389 1.00764C0.999655 0.75738 1.40542 0.75738 1.65568 1.00765L5.28084 4.63281L8.90601 1.00765C9.15628 0.75738 9.56204 0.75738 9.8123 1.00765C10.0626 1.25791 10.0626 1.66367 9.8123 1.91394Z" fill="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- 접수시작일 기본값을 현재 날짜로 설정 -->
      <% var today = new Date(); %>
      <% var year = today.getFullYear(); %>
      <% var month = today.getMonth()+1; %>
      <% var date = today.getDate(); %>
      <% if(month<10){ month = "0"+month; } %>
      <% if(date<10){ date = "0"+date; } %>
      <% var today = year+"-"+month+"-"+date; %>
      <div class="form-row">
        <div class="label-field">접수 시작</div>
        <div class="input-field">
          <div class="dropdown-container">
            <input type="date" name="application_start_date" id="application_start_date" value="<%=today%>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
              <path d="M5 4.25C5.41421 4.25 5.75 3.91421 5.75 3.5C5.75 3.08579 5.41421 2.75 5 2.75V4.25ZM11 2.75C10.5858 2.75 10.25 3.08579 10.25 3.5C10.25 3.91421 10.5858 4.25 11 4.25V2.75ZM5 2.75C4.58579 2.75 4.25 3.08579 4.25 3.5C4.25 3.91421 4.58579 4.25 5 4.25V2.75ZM11 4.25C11.4142 4.25 11.75 3.91421 11.75 3.5C11.75 3.08579 11.4142 2.75 11 2.75V4.25ZM5.75 3.5C5.75 3.08579 5.41421 2.75 5 2.75C4.58579 2.75 4.25 3.08579 4.25 3.5H5.75ZM4.25 4.5C4.25 4.91421 4.58579 5.25 5 5.25C5.41421 5.25 5.75 4.91421 5.75 4.5H4.25ZM4.25 3.5C4.25 3.91421 4.58579 4.25 5 4.25C5.41421 4.25 5.75 3.91421 5.75 3.5H4.25ZM5.75 1.5C5.75 1.08579 5.41421 0.75 5 0.75C4.58579 0.75 4.25 1.08579 4.25 1.5H5.75ZM11.75 3.5C11.75 3.08579 11.4142 2.75 11 2.75C10.5858 2.75 10.25 3.08579 10.25 3.5L11.75 3.5ZM10.25 4.5C10.25 4.91421 10.5858 5.25 11 5.25C11.4142 5.25 11.75 4.91421 11.75 4.5H10.25ZM10.25 3.5C10.25 3.91421 10.5858 4.25 11 4.25C11.4142 4.25 11.75 3.91421 11.75 3.5L10.25 3.5ZM11.75 1.5C11.75 1.08579 11.4142 0.75 11 0.75C10.5858 0.75 10.25 1.08579 10.25 1.5H11.75ZM5 2.75C2.37665 2.75 0.25 4.87665 0.25 7.5H1.75C1.75 5.70507 3.20508 4.25 5 4.25V2.75ZM0.25 7.5V13.5L1.75 13.5V7.5H0.25ZM0.25 13.5C0.25 16.1234 2.37665 18.25 5 18.25V16.75C3.20508 16.75 1.75 15.2949 1.75 13.5L0.25 13.5ZM5 18.25H11V16.75H5V18.25ZM11 18.25C13.6234 18.25 15.75 16.1234 15.75 13.5H14.25C14.25 15.2949 12.7949 16.75 11 16.75V18.25ZM15.75 13.5V7.5H14.25V13.5H15.75ZM15.75 7.5C15.75 4.87665 13.6234 2.75 11 2.75V4.25C12.7949 4.25 14.25 5.70507 14.25 7.5H15.75ZM5 4.25H11V2.75L5 2.75V4.25ZM4.25 3.5V4.5H5.75V3.5H4.25ZM5.75 3.5V1.5H4.25V3.5H5.75ZM10.25 3.5V4.5H11.75V3.5L10.25 3.5ZM11.75 3.5V1.5H10.25V3.5L11.75 3.5Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">접수 마감</div>
        <div class="input-field">
          <div class="dropdown-container">
            <input type="date" name="application_end_date" id="application_end_date" value="<%=today%>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
              <path d="M5 4.25C5.41421 4.25 5.75 3.91421 5.75 3.5C5.75 3.08579 5.41421 2.75 5 2.75V4.25ZM11 2.75C10.5858 2.75 10.25 3.08579 10.25 3.5C10.25 3.91421 10.5858 4.25 11 4.25V2.75ZM5 2.75C4.58579 2.75 4.25 3.08579 4.25 3.5C4.25 3.91421 4.58579 4.25 5 4.25V2.75ZM11 4.25C11.4142 4.25 11.75 3.91421 11.75 3.5C11.75 3.08579 11.4142 2.75 11 2.75V4.25ZM5.75 3.5C5.75 3.08579 5.41421 2.75 5 2.75C4.58579 2.75 4.25 3.08579 4.25 3.5H5.75ZM4.25 4.5C4.25 4.91421 4.58579 5.25 5 5.25C5.41421 5.25 5.75 4.91421 5.75 4.5H4.25ZM4.25 3.5C4.25 3.91421 4.58579 4.25 5 4.25C5.41421 4.25 5.75 3.91421 5.75 3.5H4.25ZM5.75 1.5C5.75 1.08579 5.41421 0.75 5 0.75C4.58579 0.75 4.25 1.08579 4.25 1.5H5.75ZM11.75 3.5C11.75 3.08579 11.4142 2.75 11 2.75C10.5858 2.75 10.25 3.08579 10.25 3.5L11.75 3.5ZM10.25 4.5C10.25 4.91421 10.5858 5.25 11 5.25C11.4142 5.25 11.75 4.91421 11.75 4.5H10.25ZM10.25 3.5C10.25 3.91421 10.5858 4.25 11 4.25C11.4142 4.25 11.75 3.91421 11.75 3.5L10.25 3.5ZM11.75 1.5C11.75 1.08579 11.4142 0.75 11 0.75C10.5858 0.75 10.25 1.08579 10.25 1.5H11.75ZM5 2.75C2.37665 2.75 0.25 4.87665 0.25 7.5H1.75C1.75 5.70507 3.20508 4.25 5 4.25V2.75ZM0.25 7.5V13.5L1.75 13.5V7.5H0.25ZM0.25 13.5C0.25 16.1234 2.37665 18.25 5 18.25V16.75C3.20508 16.75 1.75 15.2949 1.75 13.5L0.25 13.5ZM5 18.25H11V16.75H5V18.25ZM11 18.25C13.6234 18.25 15.75 16.1234 15.75 13.5H14.25C14.25 15.2949 12.7949 16.75 11 16.75V18.25ZM15.75 13.5V7.5H14.25V13.5H15.75ZM15.75 7.5C15.75 4.87665 13.6234 2.75 11 2.75V4.25C12.7949 4.25 14.25 5.70507 14.25 7.5H15.75ZM5 4.25H11V2.75L5 2.75V4.25ZM4.25 3.5V4.5H5.75V3.5H4.25ZM5.75 3.5V1.5H4.25V3.5H5.75ZM10.25 3.5V4.5H11.75V3.5L10.25 3.5ZM11.75 3.5V1.5H10.25V3.5L11.75 3.5Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">정책 분야</div>
        <div class="input-field">
          <div class="dropdown-container">
            <select class="ui fluid dropdown" name="policy_field_code" id="policy_field_code">
              <%for(var i=0; i<code_data.policy_field_code.length; i++){%>
                <option value="<%=code_data.policy_field_code[i].code_detail%>"><%=code_data.policy_field_code[i].code_detail_name%></option>
              <%}%>
            </select>
            <div class="dropdown-icon-container"> <!-- Add a container around the icon -->
              <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8123 1.91394L5.73399 5.99225C5.48372 6.24251 5.07796 6.24251 4.8277 5.99225L0.749389 1.91394C0.499124 1.66367 0.499124 1.25791 0.749389 1.00764C0.999655 0.75738 1.40542 0.75738 1.65568 1.00765L5.28084 4.63281L8.90601 1.00765C9.15628 0.75738 9.56204 0.75738 9.8123 1.00765C10.0626 1.25791 10.0626 1.66367 9.8123 1.91394Z" fill="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">정책 성격</div>
        <div class="input-field">
          <div class="dropdown-container">
            <select class="ui fluid dropdown" name="policy_character_code" id="policy_character_code">
              <%for(var i=0; i<code_data.policy_character_code.length; i++){%>
                <option value="<%=code_data.policy_character_code[i].code_detail%>"><%=code_data.policy_character_code[i].code_detail_name%></option>
              <%}%>
            </select>
            <div class="dropdown-icon-container"> <!-- Add a container around the icon -->
              <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8123 1.91394L5.73399 5.99225C5.48372 6.24251 5.07796 6.24251 4.8277 5.99225L0.749389 1.91394C0.499124 1.66367 0.499124 1.25791 0.749389 1.00764C0.999655 0.75738 1.40542 0.75738 1.65568 1.00765L5.28084 4.63281L8.90601 1.00765C9.15628 0.75738 9.56204 0.75738 9.8123 1.00765C10.0626 1.25791 10.0626 1.66367 9.8123 1.91394Z" fill="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">정책 링크</div>
        <div class="input-field">
          <div class="input-container">
            <input type="text" name="policy_link" id="policy_link" placeholder="정책 링크">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="label-field">정책 사진</div>
        <div class="input-field">
          <div class="input-container">
            <input type="file" name="imgFile" id="imgFile" accept="image/*">
          </div>
        </div>
      </div>
      <input type="hidden" name="content" id="content">
      <div class="ui form">        
        <textarea id="editor"></textarea>
      </div>
        <!-- <div class="field">
          <label>정책 파일</label>
          <input type="file" name="file">
        </div> -->
        <br>
        <div>
          <button class="ui button" type="submit" onclick="return btn()">등록</button>
          <button class="ui button" type="button" onclick="return cancel()">취소</button>
          <script>
            function cancel() {
                if (!confirm("취소 하시겠습니까??")) {
                    return false;
                } else {
                  alert("취소 하였습니다.");
                  location.href='/admin/policy/show';
                }
            }
          </script>
          <!-- <button class="ui button" type="reset">취소</button> -->
        </div>
        <br><br>
      </div>
    </form>
  </div>
</section>
<script>
  // 모바일에서 파일 업로드를 위한 코드
  ClassicEditor
    .create( document.querySelector( '#editor' ), {
      // 에디터 설정
      autoGrow: false,
      dataProcessor: {
        htmlOutputProcessor: {
          // 데이터 처리 방식 설정
          encoding: 'utf-8',
          entities: false,
          indent: true,
          indentOffset: 2
        }
      }
    } )
    .then( editor => {
      // 에디터가 준비되면 이벤트 리스너를 등록
      editor.model.document.on( 'change:data', () => {
        // 에디터 내용이 변경되었을 때 실행되는 콜백 함수
        var editorData = editor.getData();
        document.getElementById("content").value = editorData;
      } );
    } )
    .catch( error => {
      console.error( error );
    } );

  function btn(){
      if (!confirm("정책 등록 하시겠습니까??")) {
          alert("취소 하였습니다.");
          return false;
      } else {
        if(document.getElementById("name").value == ""){
          alert("이름을 입력해주세요.");
          // 마우스를 name에 놓는다.
          document.getElementById("name").focus();
          return false;
        }
        if(document.getElementById("min_fund").value == ""){
          alert("지원금을 입력해주세요.");
          document.getElementById("min_fund").focus();
          return false;
        }
        // 지원금이 숫자가 아니면
        if(isNaN(document.getElementById("min_fund").value)){
          alert("지원금은 숫자만 입력해주세요.");
          document.getElementById("min_fund").focus();
          return false;
        }
        if(document.getElementById("max_fund").value == ""){
          alert("지원금을 입력해주세요.");
          document.getElementById("max_fund").focus();
          return false;
        }
        // 지원금이 숫자가 아니면
        if(isNaN(document.getElementById("max_fund").value)){
          alert("지원금은 숫자만 입력해주세요.");
          document.getElementById("max_fund").focus();
          return false;
        }
        if(document.getElementById("imgFile").value == ""){
          alert("정책 사진을 등록해주세요.");
          document.getElementById("imgFile").focus();
          return false;
        }
        if(document.getElementById("application_start_date").value == ""){
          alert("접수 시작일을 입력해주세요.");
          document.getElementById("application_start_date").focus();
          return false;
        }
        if(document.getElementById("application_end_date").value == ""){
          alert("접수 마감일을 입력해주세요.");
          document.getElementById("application_end_date").focus();
          return false;
        }
        return true;
    }
  }
</script>
</body>
</html>