<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/layout.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>
<body>
  <div class='common-background-bar background-bar-policyManage'></div>
  <div class='common-border-bar border-bar-policyManage'></div>
  <%- include('../layout.ejs', { pageTitle: '정책 등록' }) %>
<section>
  <div>
    <form action="/admin/policy/upload" method="post" enctype="multipart/form-data">
      <div class="ui form">
        <div class="inline fields">
          <label>정책 이름</label>
          <div class="four wide field">
            <input type="text" name="name" id="name" placeholder="정책 이름">
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>지원금&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
          <div class="four wide field">
            <input type="text" name="min_fund" id="min_fund" placeholder="최소 금액">
          </div>
          <label>~</label>
          <div class="four wide field">
            <input type="text" name="max_fund" id="max_fund" placeholder="최대 금액">
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 대상</label>
          <div class="four wide field">
              <select class="ui fluid dropdown" name="target" id="target">
                <%for(var i=0; i<code_data.policy_target_code.length; i++){%>
                  <option value="<%=code_data.policy_target_code[i].code_detail%>"><%=code_data.policy_target_code[i].code_detail_name%></option>
                <%}%>
              </select>
          </div>
          <label>주관 기관</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_institution_code" id="policy_institution_code">
              <%for(var i=0; i<code_data.policy_institution_code.length; i++){%>
                <option value="<%=code_data.policy_institution_code[i].code_detail%>"><%=code_data.policy_institution_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <!-- 접수시작일 기본값을 현재 날짜로 설정 -->
          <% var today = new Date(); %>
          <% var year = today.getFullYear(); %>
          <% var month = today.getMonth()+1; %>
          <% var date = today.getDate(); %>
          <% if(month<10){ month = "0"+month; } %>
          <% if(date<10){ date = "0"+date; } %>
          <% var today = year+"-"+month+"-"+date; %>
          <label>접수 시작</label>
          <div class="four wide field">
            <input type="date" name="application_start_date" id="application_start_date" value="<%=today%>">
          </div>
          <label>접수 마감</label>
          <div class="four wide field">
            <input type="date" name="application_end_date" id="application_end_date" value="<%=today%>">
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 분야</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_field_code" id="policy_field_code">
              <%for(var i=0; i<code_data.policy_field_code.length; i++){%>
                <option value="<%=code_data.policy_field_code[i].code_detail%>"><%=code_data.policy_field_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
          <label>정책 성격</label>
          <div class="four wide field">
            <select class="ui fluid dropdown" name="policy_character_code" id="policy_character_code">
              <%for(var i=0; i<code_data.policy_character_code.length; i++){%>
                <option value="<%=code_data.policy_character_code[i].code_detail%>"><%=code_data.policy_character_code[i].code_detail_name%></option>
              <%}%>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <label>정책 링크</label>
          <div class="nine wide field">
            <input type="text" name="policy_link" id="policy_link" placeholder="정책 링크">
          </div>
        </div>
      </div>
      <br>
      <input type="hidden" name="content" id="content">
      <div class="ui form">
        <div class="inline fields">
          <label>정책 사진</label>
          <div class="nine wide field">
            <input type="file" name="imgFile" id="imgFile" accept="image/*">
          </div>
        </div>
      </div>
      <div class="ui form">        
        <textarea id="editor"></textarea>
      </div>
        <!-- <div class="field">
          <label>정책 파일</label>
          <input type="file" name="file">
        </div> -->
        <br>
        <div>
          <button class="ui button" type="submit" onclick="return btn()">등록</button>
          <button class="ui button" type="button" onclick="return cancel()">취소</button>
          <script>
            function cancel() {
                if (!confirm("취소 하시겠습니까??")) {
                    return false;
                } else {
                  alert("취소 하였습니다.");
                  location.href='/admin/policy/show';
                }
            }
          </script>
          <!-- <button class="ui button" type="reset">취소</button> -->
        </div>
        <br><br>
      </div>
    </form>
  </div>
</section>
<script>
  // 모바일에서 파일 업로드를 위한 코드
  ClassicEditor
    .create( document.querySelector( '#editor' ), {
      // 에디터 설정
      autoGrow: false,
      dataProcessor: {
        htmlOutputProcessor: {
          // 데이터 처리 방식 설정
          encoding: 'utf-8',
          entities: false,
          indent: true,
          indentOffset: 2
        }
      }
    } )
    .then( editor => {
      // 에디터가 준비되면 이벤트 리스너를 등록
      editor.model.document.on( 'change:data', () => {
        // 에디터 내용이 변경되었을 때 실행되는 콜백 함수
        var editorData = editor.getData();
        document.getElementById("content").value = editorData;
      } );
    } )
    .catch( error => {
      console.error( error );
    } );

  function btn(){
      if (!confirm("정책 등록 하시겠습니까??")) {
          alert("취소 하였습니다.");
          return false;
      } else {
        if(document.getElementById("name").value == ""){
          alert("이름을 입력해주세요.");
          // 마우스를 name에 놓는다.
          document.getElementById("name").focus();
          return false;
        }
        if(document.getElementById("min_fund").value == ""){
          alert("지원금을 입력해주세요.");
          document.getElementById("min_fund").focus();
          return false;
        }
        // 지원금이 숫자가 아니면
        if(isNaN(document.getElementById("min_fund").value)){
          alert("지원금은 숫자만 입력해주세요.");
          document.getElementById("min_fund").focus();
          return false;
        }
        if(document.getElementById("max_fund").value == ""){
          alert("지원금을 입력해주세요.");
          document.getElementById("max_fund").focus();
          return false;
        }
        // 지원금이 숫자가 아니면
        if(isNaN(document.getElementById("max_fund").value)){
          alert("지원금은 숫자만 입력해주세요.");
          document.getElementById("max_fund").focus();
          return false;
        }
        if(document.getElementById("imgFile").value == ""){
          alert("정책 사진을 등록해주세요.");
          document.getElementById("imgFile").focus();
          return false;
        }
        if(document.getElementById("application_start_date").value == ""){
          alert("접수 시작일을 입력해주세요.");
          document.getElementById("application_start_date").focus();
          return false;
        }
        if(document.getElementById("application_end_date").value == ""){
          alert("접수 마감일을 입력해주세요.");
          document.getElementById("application_end_date").focus();
          return false;
        }
        return true;
    }
  }
</script>
</body>
</html>