<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <script src="/js/home/mem.js" defer></script>
</head>
<body>
  <div id="wapper">
  <nav>
    <div id="adminpage"><h1>Admin Page</h1></div>
    <div class="header">  회원 관리</div>
      <ul>
        <li><a href="/admin/dataif">회원 정보 관리</a></li>
        <li><a href="/">회원 가입 설정</a></li>
      </ul>
    <div class="header">정책 관리</div>
      <ul>
        <li><a href="/admin/auth/subSetting">정책 정보 관리</a></li>
      </ul>
    <div class="header">권한 정보</div>
</nav>
<section>
    <div>
        <div class="pagename">회원 정보 관리</div>
        <div id="search_userinfo">
            <ul>
                <li>회원분류
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>청소년</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>학부모</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox"> 
                        <label>청소년 부모</label>
                    </div>
                </li>
                <!-- <li>수신동의
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>푸시알림</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>SMS</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>이메일</label>
                    </div>
                </li> -->
                <li><div>검색어
                <select>
                    <option value="id">이름</option>
                    <option value="name">아이디</option>
                </select>
                
                <input type="text" id="search_info" onkeypress="searchEnter(event)" placeholder="내용을 입력해주세요">
                <button class="ui button" id="search_btn" onclick="search()">검색</button>
            </div>
            </li>
            </ul>
        </div>
        <br>
        <table id="mem_table">
          <thead>
            <tr><th>아이디</th>
            <th>이름</th>
            <th>권한</th>
            <th>거주지</th>
            <th>사용자 구분</th>
            <th>등록 일시</th>
            <th>수정 일시</th>
            <!-- <th>푸시</th>
            <th>이메일</th>
            <th>sms</th> -->
            <th>관리</th>
          </tr></thead>
          <tbody>
          <% for(var i=0; i<posts.length; i++){ %>
            <tr>
              <td><%= posts[i].userid %></td>
              <td><%= posts[i].name %></td>
              <td><%= role_code_to_class(posts[i].user_role) %></td>
              <td><%= emd_code_to_name(posts[i].emd_class_code) %></td>
              <td><%= age_code_to_class(posts[i].age_class_code) %></td>
              <td><%= `${posts[i].ins_date.getFullYear()}` + `-`+ `${posts[i].ins_date.getMonth()+1}` + `-`+ `${posts[i].ins_date.getDate()}`%></td>
              <td><%= `${posts[i].upd_date.getFullYear()}` + `-`+ `${posts[i].upd_date.getMonth()+1}` + `-`+ `${posts[i].upd_date.getDate()}`%></td>
              <!-- <td><%= posts[i].push_yn %></td>
              <td><%= posts[i].email_yn %></td>
              <td><%= posts[i].sms_yn %></td> -->
              <td>
                <button class="ui button" id="manage_btn" onclick="manage()">수정</button>
                <button class="ui button" id="delete_btn" onclick="deleteUser()">삭제</button>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
        
        
        <div id="managep_foot">
            <div id="managep_paging">
                <a class="icon item">
                    <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                    <i class="right chevron icon"></i>
            </a>
          </div>
          <div id="reg_btn_set">
            <button class="ui button" id="add_user" onclick="signUp()">회원 등록</button>
            <button class="ui button" id="add_users" onclick="regiAll()">일괄 등록</button>
          </div>
        </div>  

    </div>
</section>
</div>
</body>

</html>
