<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/css/home/user.css">
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <link rel="stylesheet" href="/css/home/admin.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> -->
  <script src="/js/home/mem.js" defer></script>
</head>
<body>
  <div id='rectanglel1' class='rectanglel1'></div>
  <div id='rectangleb1' class='rectangleb1'></div>
  <%- include('../layout.ejs') %>
<section>
    <div>
        <div class="pagename">회원 정보 관리</div>
        <div id="search_userinfo">
          <form action="/admin/dataif/" method="search">
            <ul>
                <li>회원분류
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>청소년</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>학부모</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox"> 
                        <label>청소년 부모</label>
                    </div>
                </li>
                <!-- <li>수신동의
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>푸시알림</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>SMS</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>이메일</label>
                    </div>
                </li> -->
                <li>
              <div>검색어
                <select>
                    <!-- <option value="name">이름</option> -->
                    <option value="id">아이디</option>
                </select>
                <input type="search" name="search" id="search" placeholder="검색어를 입력하세요">
                <button id="search_btn" type="submit">검색</button>
            </div>
            </li>
            </ul>
          </form>
        </div>
        <br>
        <table id="mem_table">
          <thead>
            <tr><th>아이디</th>
            <th>이름</th>
            <th>권한</th>
            <th>거주지</th>
            <th>사용자 구분</th>
            <th>등록 일시</th>
            <th>수정 일시</th>
            <!-- <th>푸시</th>
            <th>이메일</th>
            <th>sms</th> -->
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
          <tbody>
            <!-- 페이지 별로 -->
          <% for(var i=0; i<posts.length; i++){ %>
            <tr>
              <td><%= posts[i].userid %></td>
              <td><%= posts[i].name %></td>
              <td><%= role_code_to_class(posts[i].user_role) %></td>
              <td><%= emd_code_to_name(posts[i].emd_class_code,code_data) %></td>
              <td><%= user_type_to_name(posts[i].user_type,code_data) %></td>
              <td><%= `${posts[i].ins_date.getFullYear()}` + `-`+ `${posts[i].ins_date.getMonth()+1}` + `-`+ `${posts[i].ins_date.getDate()}`%></td>
              <td><%= `${posts[i].upd_date.getFullYear()}` + `-`+ `${posts[i].upd_date.getMonth()+1}` + `-`+ `${posts[i].upd_date.getDate()}`%></td>
              <!-- <td><%= posts[i].push_yn %></td>
              <td><%= posts[i].email_yn %></td>
              <td><%= posts[i].sms_yn %></td> -->
              <td><a href="/admin/dataif/update/<%=posts[i].userid %>">수정</a></td>
              <td><a href="/admin/dataif/delete/<%= posts[i].userid %>" onclick="return delMem()">삭제</a></td>
              <script>
                function delMem(){
                  if(confirm("정말 삭제하시겠습니까?")){
                    return true;
                  }else{
                    return false;
                  }
                }
              </script>
              <!-- <td>
                <button class="ui button" type="submit">수정</button>
              </td> -->
            </tr>
          <% } %>
          </tbody>
        </table>
        
        <!-- 페이징 아이콘 -->
        <button class="ui button" id="mem_reg_btn" onclick="location.href='/admin/auth/signup'">등록</button>
        <button class="ui button" id="mem_reg_btn" onclick="location.href='/admin/dataif/excel'">다운로드</button>
        <!-- <button class="ui button" id="mem_reg_btn" onclick="location.href='/admin/dataif/excelup'">업로드</button> -->
        <!-- <button class="ui button" id="add_users" onclick="regiAll()">일괄 등록</button> -->
        <div id="mem_paging">
          <div class="ui pagination menu">
            <!-- <a class="icon item" href="/admin/dataif/?page=1">처음</a> -->
            <a class="icon item" href="/admin/dataif/?page=<%=page-1 %>">이전</a>
            <!-- 현재 페이지 기준 5페이지만 보여주기 -->
            <% var startPage = page-3; %>
            <% var endPage = page+3; %>
            <% if(startPage < 1){ startPage = 1; } %>
            <% if(endPage > totalPage){ endPage = totalPage; } %>
            <% for(var i=startPage; i<=endPage; i++){ %>
              <a class="item" href="/admin/dataif/?page=<%=i %>"><%=i %></a>
            <% } %>
            <% var next = page+1; %>
            <% if(next > totalPage){ next = totalPage; } %>
            <a class="icon item" href="/admin/dataif/?page=<%=next %>">다음</a>
            <!-- <a class="icon item" href="/admin/dataif/?page=<%=totalPage %>">끝</a> -->
          </div>
        </div>

    </div>
</section>
</div>
</body>

</html>
