<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/css/home/dataif/memPage.css">
  <link rel="stylesheet" href="/css/home/layout.css">
  <link rel="stylesheet" href="/css/home/dataif/memPage.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>
<body>
  <div class='common-background-bar background-bar-memManage'></div>
  <div class='common-border-bar border-bar-memManage'></div>
  <%- include('../layout.ejs', { pageTitle: '회원 가입 설정' }) %>
  <form action="/admin/dataif/" method="search" class="ui form">
    <div class="fields">
      <!-- 드롭다운 -->
      <div class="dropdown-container">
        <div class="dropdown-title">아이디</div>
        <div class="arrow-icon"></div>
      </div>
      <!-- 입력 창 -->
      <div class="input-container">
        <input type="search" name="search" id="search" placeholder="검색어를 입력하세요">
      </div>
      <!-- 검색 버튼 -->
      <div class="search-btn" id="search_btn" type="submit" onclick="return validateSearch()">
        <div class="search-icon-container">
          <div class="search-icon">
            <div class="search-icon-bar1"></div>
            <div class="search-icon-bar2"></div>
          </div>
        </div>
        <div class="search-text">검색</div>
      </div>
      <!-- 다운로드 버튼 -->
      <div class="download-btn" id="mem_reg_btn" onclick="location.href='/admin/dataif/excel'">
        <div class="download-icon">
          <div class="download-icon-shape"></div>
          <img class="download-icon-image" src="https://via.placeholder.com/5x7">
        </div>
        <div class="download-text">다운로드</div>
      </div>
      <!-- 등록 버튼 -->
      <div class="register-btn" id="mem_reg_btn" onclick="location.href='/admin/auth/signup'">
        <div class="register-text">등록</div>
      </div>
    </div>
  </form>
    <script>
      function validateSearch() {
        var searchInput = document.getElementById("search").value;
        if (searchInput.trim() === "") {
          alert("검색어를 입력해주세요.");
          document.getElementById("search").focus();
          return false;
        }
        return true;
      }
    </script>
    <table id="mem_table">
      <thead>
        <tr><th>아이디</th>
        <th>이름</th>
        <th>권한</th>
        <th>거주지</th>
        <th>사용자 구분</th>
        <th>가입일</th>
        <th>무화과</th>
        <!-- <th>푸시</th>
        <th>이메일</th>
        <th>sms</th> -->
        <th>수정</th>
        <th>삭제</th>
      </tr>
    </thead>
      <tbody>
        <% if (posts.length === 0) { %>
          <tr>
            <td colspan="10">조회된 데이터가 없습니다.</td>
          </tr>
        <% } else { %>
          <% for(var i=0; i<posts.length; i++){ %>
            <tr>
              <td><%= posts[i].userid %></td>
              <td><%= posts[i].user_name %></td>
              <td><%= role_code_to_class(posts[i].user_role) %></td>
              <td><%= emd_code_to_name(posts[i].emd_class_code,code_data) %></td>
              <td><%= user_type_to_name(posts[i].user_type,code_data) %></td>
              <td><%= `${posts[i].ins_date.getFullYear()}` + `-`+ `${posts[i].ins_date.getMonth()+1}` + `-`+ `${posts[i].ins_date.getDate()}`%></td>
              <td><a href="/admin/dataif/figManage/<%=posts[i].userid%>" style="color: #0000FF; text-decoration: underline;"><%=posts[i].fig%></a></td>
              <td><a href="/admin/dataif/update/<%=posts[i].userid %>">수정</a></td>
              <td><a href="/admin/dataif/delete/<%= posts[i].userid %>" onclick="return delMem()">삭제</a></td>
              <script>
                function delMem(){
                  if(confirm("정말 삭제하시겠습니까?")){
                    return true;
                  }else{
                    return false;
                  }
                }
              </script>
            </tr>
            <% } %>
          <% } %>
      </tbody>
    </table>
    <div id="mem_paging">
      <% if (totalPage > 1) { %> <!-- 전체 페이지가 1페이지 이상일 경우에만 페이징 표시 -->
      <div class="ui pagination menu">
          <a class="icon item" href="/admin/dataif/?page=<%=page-1 %>">이전</a>
        <% var startPage = Math.max(page - 1, 1); %>
        <% var endPage = Math.min(page + 1, totalPage); %>
        <% if (startPage === 1) { %>
          <% endPage = Math.min(3, totalPage); %>
        <% } %>
        <% if (endPage === totalPage) { %>
          <% startPage = Math.max(endPage - 2, 1); %>
        <% } %>
        <% for (var i = startPage; i <= endPage; i++) { %>
          <% if (i === page) { %>
            <a class="active item"><%=i %></a>
          <% } else { %>
            <a class="item" href="/admin/dataif/?page=<%=i %>"><%=i %></a>
          <% } %>
        <% } %>
          <a class="icon item" href="/admin/dataif/?page=<%=page+1 %>">다음</a>
      </div>
      <% } %>
    </div>
  </div>
</div>
</body>

</html>
